wheel
cysignals
gmpy2
cypari2
psutil
pexpect
memory_allocator
#
ipython
sympy
#
#fpylll
ipykernel
ipywidgets
jinja2
jupyter_client
jupyter_core
matplotlib
networkx
numpy
pillow
pkgconfig
#pplpy
#rpy2
scipy
sphinx
